<ul class="nav justify-content-center align-items-center fs-4 fw-bold"  style="height:65px">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Cards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/list">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/table">Table</a>
    </li>
  </ul>